* {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

article {
    border: 3px solid #7ad1bf;
    border-radius: 3px;
    background-color: #eeecdf;
    box-shadow: 0 0 0 15px #a1dfd2, 0 0 0 18px #7ad1bf;
    margin: 23px 25px;
}

h1 {
    padding: 10px 15px;
    background-color: #ffcc00;
    position: relative;
}

h1::after {
    content: " ";
    position: absolute;
    top: 100%;
    left: 10px;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid #ffcc00;
}

p {
    padding: 30px 15px;
}